<!--
<table border="0" width="100%">
            <tr>
              <td>
               <div >
                   <canvas baseChart
                   [datasets]="barChartData"
                   [labels]="barChartLabels"
                   [options]="barChartOptions"
                   [legend]="barChartLegend"
                   [chartType]="barChartType">
               </canvas>
            
               </div>
             </td>
             <td>
               <div>
                   <canvas baseChart
                   [datasets]="lineChartData"
                   [labels]="lineChartLabels"
                   [options]="lineChartOptions"
                   [legend]="lineChartLegend"
                   [chartType]="lineChartType">
               </canvas>
                 
               </div>
             </td>
               </tr>
               <tr>
                 <td>
                   <div>
                    <agm-map [latitude]="lat" [longitude]="lng">
                      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                  </agm-map>
                   </div>
                 </td>
                 <td></td>
               </tr>
             
           </table> 
          -->
<!-- Drag Drop Charts -->
<div cdkDropListGroup class="flex-container">
  <div *ngFor="let item of preferences; let rowIndex = index;" class="drag-container" cdkDropList
  (cdkDropListDropped)="drop($event, rowIndex)">
    <div class="drag-item" cdkDrag [cdkDragData]="item">
      <app-chart [chartinfo]="item.chart"></app-chart>
    </div>
  </div>
</div>

				