		   <h1 class="h3 mb-3">Dashboard
		   <!-- <button style="float:right" type="submit" class="btn btn-primary ml-3" (click)="updatePane()">Save</button> -->
		</h1>
						<div  class="row">
							
							<div class="col-12" >
								<div cdkDropListGroup class="row flex-container">
									<div *ngFor="let pane of paneDetails" class="{{pane.cssClass}} graph-wrapper drag-container" cdkDropList
									(cdkDropListDropped)="drop($event, pane.index)">
										<div  cdkDrag [cdkDragData]="pane" class="graph-content" *ngIf="pane.chartReady&&pane.isLiveData==false">
											<!-- Div Options -->
											<div class="graph-header">
												{{pane.deviceName}}<a class="graph-close" (click)="removePane(pane)"></a>
											</div>
											<a class="nav-link dropdown-toggle d-none d-sm-inline-block" data-toggle="dropdown">
												<i class="hamburger align-self-center"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right">
											   <a class="dropdown-item" (click)="resize(pane.paneId,'small')">Small</a>
											   <a class="dropdown-item" (click)="resize(pane.paneId,'mid')">Medium</a>
											   <a class="dropdown-item" (click)="resize(pane.paneId,'large')">Large</a>
											</div>
											<!-- End of div option -->
											<canvas id="canvas{{pane.paneId}}" *ngIf="pane.chartType=='bar'||pane.chartType=='line'" baseChart
											[datasets]="pane.chartLineBarData"
											[labels]="pane.chartLabels"
											[options]="chartOptions"
											[legend]="pane.chartLegend"
											[chartType]="pane.chartType">
											</canvas>
											
											<canvas id="canvas{{pane.paneId}}" *ngIf="pane.chartType=='doughnut'" baseChart
											[datasets]="pane.chartGaugeData"
											
											[options]="gaugeOptions"
											[legend]="pane.chartLegend"
											[chartType]="pane.chartType">
											</canvas>
											
											<canvas id="canvas{{pane.paneId}}" *ngIf="pane.chartType=='pie'" baseChart
											[datasets]="pane.chartPieData"
											[labels]="pane.chartLabels"
											[options]="pieChartOptions"
											[legend]="pane.chartLegend"
											[chartType]="pane.chartType">
										    </canvas>
											
											

											</div>

											<div cdkDrag [cdkDragData]="pane" class="graph-content" *ngIf="pane.chartReady&&pane.isLiveData==true">
											<!-- Div Options -->
											<div class="graph-header">
												{{pane.deviceName}}<a class="graph-close" (click)="removePane(pane)"></a>
											</div>
											<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown" aria-expanded="true">
												<i class="hamburger align-self-center"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right">
											   <a class="dropdown-item" (click)="resize(pane.paneId,'small')">Small</a>
											   <a class="dropdown-item" (click)="resize(pane.paneId,'mid')">Medium</a>
											   <a class="dropdown-item" (click)="resize(pane.paneId,'large')">Large</a>
											</div>
											<!-- End of div option -->
											<ul>
												<li *ngFor="let data of pane.liveDataLabel">
												<p><b>{{data.caption}}</b> : {{data.value}}</p>
																	
												</li>
											</ul>
										</div>
										<div cdkDrag [cdkDragData]="pane" class="graph-content" *ngIf="pane.chartReady&&pane.isMap==true">
											<!-- Div Options -->
											<div class="graph-header">
												{{pane.deviceName}}<a class="graph-close" (click)="removePane(pane)"></a>
											</div>
											<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown" aria-expanded="true">
												<i class="hamburger align-self-center"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right">
											   <a class="dropdown-item" (click)="resize(pane.paneId,'small')">Small</a>
											   <a class="dropdown-item" (click)="resize(pane.paneId,'mid')">Medium</a>
											   <a class="dropdown-item" (click)="resize(pane.paneId,'large')">Large</a>
											</div>
											<!-- End of div option -->
											
											<agm-map id="canvas{{pane.paneId}}" *ngIf="pane.mapType=='CurrentLocation'"
   											[latitude]='pane.currentLocLat' 
   											[longitude]='pane.currentLocLong'
   											>
  
    										<agm-marker 
        									[latitude]="pane.currentLocLat" 
        									[longitude]="pane.currentLocLong">    
    										</agm-marker>
  											</agm-map>
											

										
											<agm-map [zoom]="10" id="canvas{{pane.paneId}}" *ngIf="pane.mapType=='RouteMap'"
   											[latitude]='pane.routeMap[0].origin.lat' 
   											[longitude]='pane.routeMap[0].dest.lng'
											[fitBounds]="true"
   											>
  
											   <agm-marker 
											   *ngFor="let marker of pane.routeMap;; let i=index" 
								    		   [latitude]="marker.origin.lat" 
								    		   [longitude]="marker.origin.lng" [agmFitBounds]="true"> 
											   </agm-marker>  
											   <!-- <agm-direction *ngFor="let marker of pane.routeMap" 
												[origin]="marker.origin" 
												[destination]="marker.dest"
											>
												</agm-direction>-->    
								   			 
													<agm-polyline
													[visible]="true" [strokeWeight]="3" [strokeColor]="'#07b57a'">
														<agm-polyline-point
														*ngFor="let marker of pane.routeMap; let i=index"
														[latitude]="marker.origin.lat"
														[longitude]="marker.origin.lng">

														</agm-polyline-point>
													</agm-polyline> 
   -->
											</agm-map>
											
											
										  
										</div>
									</div>
									
								</div>
							</div>
							
							
						</div>
            