<div class="container-fluid ">
        <div class="container ">
            <div class="row ">
                
                <div class="col-sm-10 login-box tag-box">
                    <div class="main">
					
							<!-- <div class="small-logo">
                                <img class="img-fluid" src="assets\logo.png" >
                            </div> -->
							<nav class="navbar navbar-expand navbar-fixed-top navbar-light navbar-bg"> 
								
								<div class="small-logo">
									<img class="img-fluid" src="assets\logo.png" >
								</div>
								  
								<div class="navbar-collapse collapse">
								   <ul class="navbar-nav navbar-align">
									  <li class="nav-item dropdown">
										 
										 <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
										  <span class="text-light">{{displayName}}</span>
										 </a>
										 <div class="dropdown-menu dropdown-menu-right">
																
											<a class="dropdown-item" (click)="LogOut()">Sign out</a>
										 </div>
									  </li>
								   </ul>
								</div>
							 </nav>

						<!-- <div class="col-md-12 mt-3">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Generate TagName</h5>
									<h6 class="card-subtitle text-muted">You can provide more text about create tag.</h6>
								</div>
								
								<div class="card-body">
									<form class="form-group tag-group">
									
										<label class="form-label">Number of Tags</label>
										<div class="form-inline">
                                            
                                            
											<input type="number" min="1" max="20" [(ngModel)]="tagsNo" class="form-control mb-0" name="validation-email" >
											<button type="submit" class="btn btn-primary ml-3" (click)="generateTagName()">Submit</button>
										</div>
									</form>
									<small class="form-text text-muted">Created Tags : {{tagName}}</small>
								</div>
							</div>
						</div> -->
						
						<div class="col-md-12">
							<div class="">
							<h2 class="h2 mb-2 mt-2 text-center">Generate TagName</h2>
							<p class="small-info text-center mb-2">You can provide more text about create tag.</p>
							
							<div class="card-body">
							<form class="form-group tag-group">
							<!--label class="form-label">Tag</label-->
							<div class="form-inline justify-content-center">
							<div class="form-d-flex">
							<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-tag"></i></span>
							</div>
							<input type="number" min="1" max="20" [(ngModel)]="tagsNo" class="form-control mb-0" name="validation-email" >
							</div>
							<button type="submit" class="btn btn-primary ml-0 ml-md-3 mt-3 mt-md-0" (click)="generateTagName()">Submit</button>
							</div>
							</form>
							<small class="form-text text-muted d-flex">
							<div class="font-weight-bold">Created Tags :</div>
							<p class="font-italic">{{tagName}}</p>
							</small>
							</div>
							</div>
							</div>

						<!-- Table Start -->
						<div class="dark w-100">
						<div class="col-12 mb-3">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Tag Table</h5>
									<h6 class="card-subtitle text-muted">Some more text will go here</h6>
								</div>
								<div class="table-responsive">
									<table class="table mb-0 table-striped">
										<thead>
											<tr>
                                                <th width="10%" scope="col">Is Used</th>
												<th width="18%" scope="col">Tag Name</th>
												<th width="18%" scope="col">Generated On</th>
												<th width="18%" scope="col">Mapped Device Name</th>
												<th width="18%" scope="col">First Use</th>
												<th width="18%" scope="col">Exp Date</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let device of devices">
												
                                                <td width="10%">
												<div *ngIf="!device.isUsed" ><input type="checkbox" name={{device.deviceTagName}} (click)="IsUsedChange($event)"></div>
                                                <div *ngIf="device.isUsed" ><input type="checkbox" name={{device.deviceTagName}} (click)="IsUsedChange($event)" checked></div></td>
                                                <td width="18%">{{device.deviceTagName}}</td>
                                                <td width="18%">{{device.inputDate}}</td>
                                                <td width="18%">{{device.deviceName}}</td>
                                                <td width="18%">
													{{device.firstUse}}
												</td>
                                                <td width="18%">
													{{device.expDate}}
												</td>
												
                                            </tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						</div>
						
						<!-- End table -->
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
