<ul>
    <li *ngFor="let device of devices">
      
        <div>
          <div>
            <input type="text" name="deviceId" [disabled]="true" id="deviceId" value="{{device.DeviceId}}">
          </div>
          <div>
            <input type="text" name="deviceTagName" [disabled]="true" id="deviceTagName" value="{{device.DeviceTagName}}">
          </div>
          <div>
            <input type="button" value="Detail" (click)="openDeviceDetailPopup(device)">
          </div>
        </div>
    </li>
</ul>
<form  (ngSubmit)="onSubmit()"> 
<div *ngIf="showAddDevice" class="popupOuterClass">
    <div class="popupMainClass">
        <span class="close" (click)="AddDeviceCancel()">&times;</span>
        <p>Add Device</p>
        <label>Device Id : </label>
        <input  type="text" id="txtDeviceId" #deviceAddId />
        <br/>
        <label>Device TagName : </label>
        <input type="text" [(ngModel)]="deviceTagName" id="txtdeviceTagName"  />
        <br/>
        <label>Device Label Name : </label>
        <input type="text" id="txtDeviceLabelName" >
        <button type="submit" (click)="AddDeviceSubmit()">Save</button>
        <button (click)="AddDeviceCancel()">Close</button>
    </div>
</div>
<div *ngIf="showDetailDevice" class="popupOuterClass">
    <div class="popupMainClass">
    <span class="close" (click)="DetailDeviceCancel()">&times;</span>
    <p>Add Pane</p>
    <label>Device Label Name : </label>
    <input type="text" id="txtDeviceName" />
    <br/>
    <label>Data Type : </label>
    <select name="DataType" #DataType (change)="onDataTypeSelected(DataType.value)" >
        <option value="SelectDataType">--Select Data Type--</option>
        <option value="Graph">Graph</option>
        <option value="LiveData">Live Data</option>
        <option value="Map">Map</option>
    </select>
    <br/>
    <div *ngIf="showGraph" id="divGraphType">
        <label>Graph Type : </label>
        <select name="GraphType" id="GraphType" >
            <option value="LineChart">Line Chart</option>
            <option value="BarGraph">Bar Graph</option>
            <option value="PieChart">Pie Chart</option>
            <option value="GaugeChart">Gauge Chart</option>
        </select>
    <br/>
    </div>
    <div *ngIf="showMap" id="divMapType">
        <label>Map Type : </label>
        <select name="MapType" id="MapType">
          
        </select>
    <br/>
    </div>
    <div *ngIf="showParam" id="divParam">
        <label>Select Device Param : </label>
        <ul>
            <li>

            </li>
        </ul>
    <br/>
    </div>
    
    <button type="submit" (click)="DetailDeviceSubmit()">Save</button>
    <button (click)="DetailDeviceCancel()">Close</button>
    </div>
</div>
<!-- <button type="submit">Save</button> -->
</form> 
<!-- <button routerLink="/device/add">Add Device</button> -->
<input type="button" value="Add Device" (click)="openAddDevicePopup()">


