<!-- <div *ngIf="showDivEmail" >
  <input type="email" [(ngModel)]="userEmail" class="form-control" placeholder="Email Address" aria-label="email" aria-describedby="basic-addon1">
  <button (click)="FetchUserSecQues()" class="btn btn-success btn-round" >Go</button>
                                    
  <div *ngIf="showDivSecQues" >
    <p>{{userSecQuestion.question}}</p>
    <input [(ngModel)]="secAns" type="email" class="form-control" placeholder="Security Answer" aria-label="email" aria-describedby="basic-addon1">
    <button (click)="CheckSecurityAns()" class="btn btn-success btn-round">Submit</button>
                                    
    <div *ngIf="showResetPwd" >
     <input type="password" [(ngModel)]="password" class="form-control" placeholder="New Password" aria-label="email" aria-describedby="basic-addon1">
    <input type="password" [(ngModel)]="confirmPassword" class="form-control" placeholder="Confirm Password" aria-label="email" aria-describedby="basic-addon1">
     <button (click)="ResetPassword()" class="btn btn-success btn-round">Reset Password</button>
                                   
    <a routerLink="/register"> -->


        <!DOCTYPE html>
        <html lang="en">
        <head>
          <title>Bootstrap Example</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
          <link rel="stylesheet" href="../CSS/bootstrap.min.css">
          <!-- <link rel="stylesheet" href="css/fontawsom-all.min.css"> -->
          <!--link rel="stylesheet" href="css/login.css"-->
          <link rel="stylesheet" href="../CSS/light.css">
        </head>
        <body>
        
            
            <div class="container-fluid ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-sm-10 login-box">
                            <div class="row">
                            
                                <div class="col-lg-4 col-md-5 log-left-pannel">
                                    <div class="small-logo mb-5">
                                        <img class="img-fluid" src="images/logo.png" >
                                    </div>
                                    <div class="sign-inf">
                                        <div class="sign-inf-cont">
                                            <h2 class="w-100">Din't Have an Account </h2>
                                            <p>Simply Create your account by clicking the Signup Button</p>
                                            <a routerLink="/register">
                                            <button type="button" class="btn btn-lg btn-primary btn-round">SIGN UP</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-8 col-md-7 log-right-pannel dark">
                                    <div class="text-box-cont">
                                    <h3 class="text-center mb-3">
                                        <i class="fa fa-lock fa-4x"></i>
                                    </h3>
                                    <h2 class="h2 mb-2 text-center">Forgot Password</h2>
                                    <p class="small-info text-center mb-5">You can reset your password here.</p>
                                    
                                    <div *ngIf="showDivEmail">
                                        <div class="form-group">
                                            <div class="form-d-flex">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                                                </div>
                                                <input [(ngModel)]="userEmail" class="form-control" type="email" name="email" placeholder="Enter your email">
                                            </div>
                                        </div>
                                        <div class="text-center mt-5">
                                            <a  (click)="FetchUserSecQues()" class="btn btn-lg btn-primary btn-round">Go</a>
                                        </div>
                                    </div>

  

                                    <div *ngIf="showDivSecQues">
                                        <div class="form-group">
                                            <p>{{userSecQuestion.question}}</p>
                                            <div class="form-d-flex">
                                               
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                                                </div>
                                                <input [(ngModel)]="secAns"  class="form-control" type="email" name="email" placeholder="Security Answer">
                                            </div>
                                        </div>
                                        <div class="text-center mt-5">
                                            <a (click)="CheckSecurityAns()" class="btn btn-lg btn-primary btn-round">Submit</a>
                                        </div>
                                    </div>
                                    
                                         <div *ngIf="showResetPwd">
                                            <div class="form-group">
                                                <div class="form-d-flex">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                                                    </div>
                                                    <input [(ngModel)]="password" class="form-control" type="email" name="email" placeholder="New Password">
                                                </div>
                                                <div class="form-d-flex">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                                                    </div>
                                                    <input [(ngModel)]="confirmPassword" class="form-control" type="email" name="email" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                            <div class="text-center mt-5">
                                                <a (click)="ResetPassword()" class="btn btn-lg btn-primary btn-round">Reset Password</a>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
        </body>
        </html>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        
                               