<!-- <div *ngIf="showDivEmail" >
  <input type="email" [(ngModel)]="userEmail" class="form-control" placeholder="Email Address" aria-label="email" aria-describedby="basic-addon1">
  <button (click)="FetchUserSecQues()" class="btn btn-success btn-round" >Go</button>
                                    
  <div *ngIf="showDivSecQues" >
    <p>{{userSecQuestion.question}}</p>
    <input [(ngModel)]="secAns" type="email" class="form-control" placeholder="Security Answer" aria-label="email" aria-describedby="basic-addon1">
    <button (click)="CheckSecurityAns()" class="btn btn-success btn-round">Submit</button>
                                    
    <div *ngIf="showResetPwd" >
     <input type="password" [(ngModel)]="password" class="form-control" placeholder="New Password" aria-label="email" aria-describedby="basic-addon1">
    <input type="password" [(ngModel)]="confirmPassword" class="form-control" placeholder="Confirm Password" aria-label="email" aria-describedby="basic-addon1">
     <button (click)="ResetPassword()" class="btn btn-success btn-round">Reset Password</button>
                                   
    <a routerLink="/register"> -->


      
        
            
            <div class="container-fluid ">
                <div class="container ">
                    <div class="row align-items-center vh-100">
                        <div class="col-sm-10 login-box">
                            <div class="row">
                            
                                <div class="col-lg-4 col-md-5 log-left-pannel">
                                    <div class="small-logo mb-5">
                                        <img class="img-fluid" src="assets\logo.png" >
                                    </div>
                                    <div class="sign-inf text-center">
                                        <div class="sign-inf-cont">
                                            <h2 class="w-100">Don't have an account </h2>
									        <p>Simply create your account by clicking the Signup Button</p>
                                            <a routerLink="/register">
                                            <button type="button" class="btn btn-lg btn-primary btn-round">SIGN UP</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-8 col-md-7 log-right-pannel dark">
                                    <div class="text-box-cont">
                                    <h3 class="text-center mb-3">
                                        <i class="fa fa-lock fa-4x"></i>
                                    </h3>
                                    <h2 class="h2 mb-2 text-center">Forgot Password</h2>
                                    <p class="small-info text-center mb-5">You can reset your password here.</p>
                                    
                                    <div *ngIf="showDivEmail">
                                        <div class="form-group">
                                            <div class="form-d-flex">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                                                </div>
                                                <input [(ngModel)]="userEmail" class="form-control" type="email" name="email" placeholder="Enter your email">
                                            </div>
                                            <div class="text-danger" *ngIf="showEmailMsg">
                                                <label>Please enter Email.</label>
                                            </div>
                                        </div>
                                        <div class="text-center mt-5">
                                            <a  (click)="FetchUserSecQues()" class="btn btn-lg btn-primary btn-round">Go</a>
                                        </div>
                                    </div>

                                      

                                    <div *ngIf="showDivSecQues">
                                        <div class="form-group">
                                            <p>{{userSecQuestion.question}}</p>
                                            <div class="form-d-flex">
                                               
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                                                </div>
                                                <input [(ngModel)]="secAns"  class="form-control" type="email" name="email" placeholder="Security Answer">
                                            </div>
                                            <div class="text-danger" *ngIf="showSecAnsMsg">
                                                <label>Please enter Security Answer.</label>
                                            </div>
                                        </div>
                                        <div class="text-center mt-5">
                                            <a (click)="CheckSecurityAns()" class="btn btn-lg btn-primary btn-round">Submit</a>
                                        </div>
                                    </div>
                                    
                                         <div *ngIf="showResetPwd">
                                            <div class="form-group">
                                                <div class="form-d-flex">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                                                    </div>
                                                    <input [(ngModel)]="password" class="form-control" type="password" name="Password" placeholder="New Password">
                                                </div>
                                                <div class="text-danger" *ngIf="showPwdMsg">
                                                    <label>Please enter Password.</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-d-flex">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                                                    </div>
                                                    <input [(ngModel)]="confirmPassword" class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password">
                                                </div>
                                                <div class="text-danger" *ngIf="showConfirmPwdMsg">
                                                    <label>Please confirm your password.</label>
                                                </div>
                                            </div>
                                            <div class="text-center mt-5">
                                                <a (click)="ResetPassword()" class="btn btn-lg btn-primary btn-round">Reset Password</a>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
                              