          <!--                       
                               
        
                                
        <select class="form-control mb-3" name="SecurityQuestion" [(ngModel)]="securityQues">
        <option selected="" value="SelectQuestion" value="0">--Select Question--</option>
        <option *ngFor="let secQues of listSecurityQues" value={{secQues.questionId}}>{{secQues.question}}</option> 
                                        
        </select>
                                
        <input type="text" [(ngModel)]="securityAns" class="form-control" placeholder="Security Answer" aria-label="Username" aria-describedby="basic-addon1">
        <button class="btn btn-success btn-round" (click)="UserRegister()">SIGN UP</button> -->
                               


        <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../CSS/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="css/fontawsom-all.min.css"> -->
  <!--link rel="stylesheet" href="css/login.css"-->
  <link rel="stylesheet" href="../CSS/light.css">
</head>
<body>


	<div class="container-fluid ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-10 login-box">
                    <div class="row">
					
						<div class="col-lg-4 col-md-5 log-left-pannel">
							<div class="small-logo mb-5">
                                <img class="img-fluid" src="images/logo.png" >
                            </div>
							<div class="sign-inf">
								<div class="sign-inf-cont">
									<h2 class="w-100">You already have an Account </h2>
									<p>Simply go to login page by clicking the SignIn Button</p>
									<a href="">
									<button type="button" class="btn btn-lg btn-primary btn-round">SIGN In</button>
									</a>
								</div>
							</div>
                        </div>
						
                        <div class="col-lg-8 col-md-7 log-right-pannel dark">
							<div class="text-box-cont">
								<h2 class="h2 mb-5">Sign Up</h2>
								<form>
									<div class="form-group">
										<label>Email</label>
										<div class="form-d-flex">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
											</div>
											<input [(ngModel)]="email" class="form-control" type="email" name="Email" placeholder="Enter your Email">
										</div>
									</div>
									
									<div class="form-group">
										<label>Phone Number</label>
										<div class="form-d-flex">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
											</div>
											<input [(ngModel)]="phoneNo" class="form-control" type="phone" name="phone" placeholder="Phone Number">
										</div>
									</div>

                                    <div class="form-inline mb-3">
										<label class="custom-control custom-radio">
										  <input name="custom-radio" type="radio" checked class="custom-control-input" [(ngModel)]="userType" id="Student" value="2">
										  <span class="custom-control-label">Student</span>
										</label>
										<label class="custom-control custom-radio ml-3">
										  <input name="custom-radio" type="radio" class="custom-control-input" [(ngModel)]="userType" id="Business" value="3"> 
										  <span class="custom-control-label">Business</span>
										</label>						
									</div>


                                   <div class="form-group">
										<label>Password</label>
										<div class="form-d-flex">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
											</div>
											<input [(ngModel)]="password" class="form-control" type="password" name="password" placeholder="Enter your password">
										</div>
									</div>
									<div class="form-group">
										<label>Confirm Password</label>
										<div class="form-d-flex">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
											</div>
											<input  [(ngModel)]="confirmPassword" class="form-control" type="password" name="cpassword" placeholder="Enter your password again">
										</div>
									</div>
									
                                    
									
									<div class="form-group">
                                        <label>Security Question</label>
										<div class="form-d-flex">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="fas fa-question"></i></span>
											</div>
											<select class="form-control" name="SecurityQuestion" [(ngModel)]="securityQues">
                                                <option selected="" value="SelectQuestion" value="0">--Select Question--</option>
                                                <option *ngFor="let secQues of listSecurityQues" value={{secQues.questionId}}>{{secQues.question}}</option> 
                                                        
											</select>
										</div>
									</div>
								
                                    <div class="form-group">
										<label>Security Answer</label>
										<div class="form-d-flex">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
											</div>
											<input [(ngModel)]="securityAns" class="form-control" type="text" name="password" placeholder="Security Answer">
										</div>
									</div>
                                   
									
									<div class="text-center mt-5">
										<a (click)="UserRegister()" class="btn btn-lg btn-primary btn-round">Sign up</a>
									</div>
								</form>
							</div>
                        </div>
						
						
                        
						
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	
	
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
