  <h1 class="h3 mb-3">Profile</h1>
        
     <div class="row">
                                       
                                <div class="col-md-8 offset-md-2">
                                    <div class="card"><div class="card-header">
                                            <h5 class="card-title mb-0">Profile Details</h5>
                                        </div><div class="card-body">
                                        
                                                       
                                                        <div class="form-group">
                                                            <label for="inputEmail4">Email</label>
                                                            <input [(ngModel)]="email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                                            <div class="text-danger" *ngIf="showEmailMsg">
                                                                <label>Please enter Email.</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputPhone">Phone Number</label>
                                                            <input type="text" [(ngModel)]="phoneNo" class="form-control" placeholder="Phone Number" >
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="inputUserType">User Type</label>
                                                            <input disabled="true" type="text" [(ngModel)]="userType" class="form-control" placeholder="Phone Number" >
                                                        </div>
                                                       
                                                        <div class="form-group">
                                                            
                                                                <label for="inputSecQues">Security Question</label>
                                                                <select name="SecurityQuestion" [(ngModel)]="securityQues" class="form-control">
                                                                    <option selected="" value="SelectQuestion" value="0">--Select Question--</option>
                                                                    <option *ngFor="let secQues of listSecurityQues" value={{secQues.questionId}}>{{secQues.question}}</option> 
                                                                </select>
                                                                <div class="text-danger" *ngIf="showSecQuesMsg">
                                                                    <label>Please select Security Question.</label>
                                                                </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputSecAns">Security Answer</label>
                                                            <input [(ngModel)]="securityAns" type="email" class="form-control" >
                                                            <div class="text-danger" *ngIf="showSecAnsMsg">
                                                                <label>Please enter Security Answer.</label>
                                                            </div>
                                                        </div>
                                                        
                                                        <button (click)="UpdateUser()" type="submit" class="btn btn-primary">Save changes</button>
                                                   
                                    
                                </div>
                            </div>
        
                        